<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="DDDCModel1" connectionString="Data Source=.;Initial Catalog=DIDIDACHUAN;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
	<appSettings>
		<!--设置调用天气预报Web服务的键和值-->
		<add key="WeatherServiceRef.WeatherWebService" value="http://www.webxml.com.cn/WebServices/WeatherWebService.asmx" />
		<!--设置发件人邮箱（以QQ邮箱为例）信息，注意请使用自己的邮箱并修改相应的键值。其中，MailFromAddress表示发件人邮箱，UseSsl值为true表示使用SSL协议连接，UserName表示发件人邮箱的账户名，Password表示授权码（跟邮箱密码不相同），ServerName表示发送邮件的SMTP服务器名，ServerPort表示SMTP服务器名的端口号-->
		<add key="MailFromAddress" value="1312828352@qq.com" />
		<add key="UseSsl" value="true" />
		<add key="Username" value="1312828352" />
		<add key="Password" value="dutacmkfxqlchaia" />
		<add key="ServerName" value="smtp.qq.com" />
		<add key="ServerPort" value="587" />
	</appSettings>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
