<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DDDC.DAL.Properties.Settings.DIDIDACHUANConnectionString"
            connectionString="Data Source=.;Initial Catalog=DIDIDACHUAN;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>